<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>info</key>
        <dict>
            <key>level</key>
            <integer>1</integer>
            <key>coin</key>
            <integer>3000</integer>
            <key>totalWave</key>
            <integer>10</integer>
			<key>purBatchMonsterNum</key>
            <integer>10</integer>
            <key>purBatchTime</key>
            <real>3.0</real>
			<key>purEnemyTime</key>
            <real>1.0</real>
			<key>enemyArray</key>
			<array>
			<string>6:10</string>
			<string>7:10</string>
			<string>7:5;9:5</string>
			<string>8:10</string>
			<string>8:5;9:5</string>
			<string>9:5:10:5</string>
			<string>10:5;11:5</string>
			<string>12:1;13:5;14:4</string>
			<string>15:3;16:1;17:3</string>
			<string>16:5;17:5</string>			
            </array>
			<key>magicArray</key>
            <array>
                <integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
            </array>
			<key>towerArray</key>
            <array>
                <integer>0</integer>
				<integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
				<integer>5</integer>
			</array>
        </dict>
        <key>enemyType</key>
        <array>
        <dict>
		<key>type</key>
		<integer>0</integer>
        <key>life</key>
        <integer>20</integer>
		<key>speed</key>
        <integer>80</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>1</integer>
        <key>life</key>
        <integer>40</integer>
		<key>speed</key>
        <integer>120</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>2</integer>
        <key>life</key>
        <integer>40</integer>
		<key>speed</key>
        <integer>160</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>3</integer>
        <key>life</key>
        <integer>60</integer>
		<key>speed</key>
        <integer>200</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>4</integer>
        <key>life</key>
        <integer>200</integer>
		<key>speed</key>
        <integer>65</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>5</integer>
        <key>life</key>
        <integer>200</integer>
		<key>speed</key>
        <integer>80</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
		
		
        <dict>
		<key>type</key>
		<integer>0</integer>
        <key>life</key>
        <integer>80</integer>
		<key>speed</key>
        <integer>80</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>1</integer>
        <key>life</key>
        <integer>160</integer>
		<key>speed</key>
        <integer>120</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>2</integer>
        <key>life</key>
        <integer>160</integer>
		<key>speed</key>
        <integer>160</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>3</integer>
        <key>life</key>
        <integer>240</integer>
		<key>speed</key>
        <integer>200</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>4</integer>
        <key>life</key>
        <integer>800</integer>
		<key>speed</key>
        <integer>65</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>5</integer>
        <key>life</key>
        <integer>800</integer>
		<key>speed</key>
        <integer>80</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>



        <dict>
		<key>type</key>
		<integer>0</integer>
        <key>life</key>
        <integer>160</integer>
		<key>speed</key>
        <integer>80</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>1</integer>
        <key>life</key>
        <integer>320</integer>
		<key>speed</key>
        <integer>120</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>2</integer>
        <key>life</key>
        <integer>320</integer>
		<key>speed</key>
        <integer>160</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>3</integer>
        <key>life</key>
        <integer>480</integer>
		<key>speed</key>
        <integer>200</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>4</integer>
        <key>life</key>
        <integer>1600</integer>
		<key>speed</key>
        <integer>65</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        <dict>
		<key>type</key>
		<integer>5</integer>
        <key>life</key>
        <integer>1600</integer>
		<key>speed</key>
        <integer>80</integer>
		<key>coin</key>
        <integer>10</integer>
        </dict>
        </array>
    </dict>
</plist>